.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      .main-header__left-box__member-list
        =link_to "&__member" do
          =icon("far", "user")
        .main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name
              
        .main-header__left-box__member-list__caret-down1
          =link_to "#"do
            %form{:action => "選択", :method => "post"}
              %p
                %select{:name => "example1"}
                  %option{:value => "サンプル1"} 選択してください
                  %option{:value => "サンプル2"} 選択解除
              %p
        .main-header__left-box__member-list__caret-down2
          =link_to "#" do
            %input{:type => "submit", :value => "移動"}/
    .main-header__edit-btn
      =link_to "Edit",edit_group_path(@group), class: "edit_btn"
  
  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class:"input-box__text",placeholder:"メッセージ入力してください"
        = f.label :image, class: "input-box__image" do
          =icon("fas", "image")
          = f.file_field :image, class:"input-box__image__file"
      = f.submit "送信", class:"submit-btn"